[Systolic Tensor Array Configuration]
#IS: Input Stationary
#OS: Output Stationary
#WS: Weight Stationary
Dataflow: IS
R: 8
C: 8
A: 1
B: 1
P: 1

#Input stationary output port bit-width can be calculated by systolic tensor array configuration and port bit-width
[Port Configuration]
Port Type: Signed
#Port Type: Unsigned
Port A: 8
Port B: 8
#Port C: 8

[Verilog Generation Option]
Split Verilog Output: true